<h1>Log in</h1>
<form action="/user/login" method="POST" >
  <label>Username:</label>
    <input type="text" name="username" placeholder="Type in your username"></input>
  <label>Password:</label>
    <input name="password" type="password" placeholder="Type in your password"></input>

  <button method="submit">Log in</button>
</form>