
<h1>Create new Recipe</h1>

<form action="/new" method="POST" >
    <input type="text" name="title" placeholder="title">
    <input type="text" name="cuisine" placeholder="cuisine">
    <select name="level">
        <option value="Easy Peasy">Easy Peasy</option>
        <option value="Amateur">Amateur</option>
         <option value="Chef">Chef</option>
         <option value="Chef">UltraPro Chef</option>
    </select>
    <input type="text" name="ingredients" placeholder="Ingredients">
    <input type="text" name="dishType" placeholder="What kind of dish">
    <input type="text" name="image" placeholder="https://images.media-allrecipes.com/images/75131.jpg">
    <input type="number" name="duration" placeholder="Time it takes">
    <input type="text" name="creator" placeholder="Who made the dish">

    <button type="submit">Add Recipe</button>
</form>


