
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/all-recipies">Alle Recipies</a></li>
    <li><a href="/new">Create</a></li>
    <li><a href="/edit">Edit</a></li>
    <li><a href="/delete">Delete</a></li>
  </ul>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


