  <header class="header">
    <ul>
    <li><a href="/">Recipes</a></li>
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="/user/login">Login</a></li>
    {{#if session}}
    <li><a href="/new"><strong>Create</strong></a></li>
    <li><a href="/user/profile">Profile</a></li>
    <li><a href="/user/logout">logout</a></li>
    {{/if}}
    </ul>
  </header>


