  <header class="header">
    <ul>
    <li><a href="/">Recipes</a></li>
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/new">Create</a></li>
    <li><a href="/user/profile">Profile</a></li>
    <li><a href="/user/logout">logout</a></li>
    </ul>
  </header>


